<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../_partials/_head') %>
    </head>
    <body>
        
        <%- include('../../_partials/_navbar') %>

        <div class="container">
            <div class="row">
                <!-- <div class="col-2 shadow-lg side-content text-center">
                    Left Side Panel
                </div> -->
                <div class="col-10 shadow-lg main-content text-center">
                    <h2>
                        About HardGaming
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium vulputate sapien nec sagittis aliquam malesuada. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Maecenas ultricies mi eget mauris. Enim diam vulputate ut pharetra sit amet. Purus gravida quis blandit turpis cursus in hac habitasse platea. Tristique risus nec feugiat in fermentum. Adipiscing at in tellus integer feugiat scelerisque varius. Vitae proin sagittis nisl rhoncus mattis rhoncus. Pretium aenean pharetra magna ac placerat vestibulum lectus. Elementum facilisis leo vel fringilla. Amet risus nullam eget felis eget nunc. Purus viverra accumsan in nisl nisi scelerisque eu. Lacinia quis vel eros donec. Egestas diam in arcu cursus euismod quis viverra nibh cras. Enim ut tellus elementum sagittis vitae et leo. Bibendum ut tristique et egestas quis ipsum suspendisse.
                    </p>
                    <p>
                        Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Orci eu lobortis elementum nibh tellus molestie. Morbi tincidunt augue interdum velit. Felis eget velit aliquet sagittis id consectetur purus. Libero id faucibus nisl tincidunt eget. Ligula ullamcorper malesuada proin libero nunc. Amet facilisis magna etiam tempor. Amet venenatis urna cursus eget nunc scelerisque. Neque vitae tempus quam pellentesque nec. Libero volutpat sed cras ornare arcu dui. Neque gravida in fermentum et sollicitudin. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Vulputate mi sit amet mauris commodo quis imperdiet massa. Lectus magna fringilla urna porttitor. In hendrerit gravida rutrum quisque non tellus orci. Iaculis eu non diam phasellus vestibulum.
                    </p>
                    <p>
                        Eu volutpat odio facilisis mauris sit amet massa vitae. Duis convallis convallis tellus id. Neque viverra justo nec ultrices dui sapien eget. In massa tempor nec feugiat nisl pretium fusce id velit. Metus dictum at tempor commodo. Ultrices sagittis orci a scelerisque purus semper eget. Lacus luctus accumsan tortor posuere. Feugiat scelerisque varius morbi enim nunc faucibus. Urna condimentum mattis pellentesque id nibh tortor. Orci sagittis eu volutpat odio facilisis mauris. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Ut tellus elementum sagittis vitae et leo duis ut. Tincidunt tortor aliquam nulla facilisi cras fermentum odio.
                    </p>
                </div>
                <%- include('../../_partials/_sidebar') %>
            </div>
        </div>

        <%- include('../../_partials/_footer') %>
    </body>
</html