<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../_partials/_head_new') %>
</head>

<body>

  <%- include('../../_partials/_header_new') %>

  <%- include('../../_partials/_navbar_new') %>

    

  <main id="main" style="background-color: #0b1126;">
    
    
    <!-- ======= Speaker Details Sectionn ======= -->
    <section id="speakers-details">
      <div class="container">
        <div class="section-header">
          <h2>HardGaming Team</h2>
          <p>The Faces behind HardGaming</p>
        </div>

        <div class="row">
          <div class="col-6">
            <img src="/img/team/james.jpg" alt="James" class="img-fluid" style=" height: 50%;margin-left: 50%;">
          </div>

          <div class="col-6">
            <div class="details">
              <h2>James Hardee</h2>
              <h4>CEO/Technical Lead</h4>
              <div class="social">
                <!--<a href=""><i class="bi bi-twitter"></i></a>-->
                <!--<a href=""><i class="bi bi-facebook"></i></a>-->
                <!--<a href=""><i class="bi bi-instagram"></i></a>-->
                <!--<a href=""><i class="bi bi-linkedin"></i></a>-->
              </div>
              <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.</p>

              <p>Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.</p>

              <p>Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.</p>
            
            
            </div>
          </div>

          <div class="col-6">
            <img src="/img/team/ez.jpg" alt="Zeke" class="img-fluid" style="height: 50%;margin-left: 50%;">
          </div>

          <div class="col-6">
            <div class="details">
              <h2>Ezekiel (Zeke) Hammond</h2>
              <h4>FullStack Developer/Technical Consultant</h4>
              <div class="social">
                <a href="https://twitter.com/Jafesu"><i class="bi bi-twitter"></i></a>
                <a href="https://twitch.tv/jafesu"><i class="bi bi-twitch"></i></a>
                <a href="https://www.instagram.com/jafesu/"><i class="bi bi-instagram"></i></a>
                <a href="https://discord.gg/u7D6752UjP"><i class="bi bi-discord"></i></a>
                <a href="https://www.youtube.com/channel/UCbeXxJ5xGh3ooqEhBYRYi6Q"><i class="bi bi-youtube"></i></a>
                <a href="https://tiktok.com/@jafesu"><i class="bi bi-tiktok"></i></a>
                <a href="https://github.com/Jafesu"><i class="bi bi-github"></i></a>
              </div>
              <p>Zeke is a self taught full stack web Devloper and a friend of James</p>
              <p>With Experience in NodeJs, C#, Python, HTML/CSS he has a passion for development</p>
            
            </div>
          </div>

        </div>
      </div>

    </section>

  </main><!-- End #main -->

  <%- include('../../_partials/_footer_new') %>

 

 

  <script>
  </script>

</body>

</html>