<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../_partials/_head_new') %>
</head>

<body>

  <%- include('../../_partials/_header_new') %>

  <%- include('../../_partials/_navbar_new') %>

    

  <main id="main" style="background-color: #0b1126;">

  </main><!-- End #main -->

  <%- include('../../_partials/_footer_new') %>

 

 

  <script>
  </script>

</body>

</html>