<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../_partials/_head') %>
    </head>
    <body>
        
        <%- include('../../_partials/_navbar') %>

        <div class="container">
            <div class="row">
                <!-- <div class="col-2 shadow-lg side-content text-center">
                    Left Side Panel
                </div> -->
                <div class="col-12 shadow-lg main-content text-center">
                    <div class="login">
                        <h1>Login</h1>
                        <form action="/auth/login" method="post">
                            <label for="username">
                                <!-- font awesome icon -->
                                <i class="fas fa-user"></i>
                            </label>
                            <input type="text" name="username" placeholder="Username" id="username" required>
                            <label for="password">
                                <i class="fas fa-lock"></i>
                            </label>
                            <input type="password" name="password" placeholder="Password" id="password" required>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

        <%- include('../../_partials/_footer') %>
    </body>
</html