</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>

<script type="text/javascript" src="/js/popper.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<!--vectormap-->

<script src="/js/index/jquery-jvectormap-1.2.2.min.js"></script>

<script src="/js/index/jquery-jvectormap-world-mill-en.js"></script>

<script src="/js/index/vmap-init.js"></script>



<!--echarts-->

<script type="text/javascript" src="/js/index/echarts-all-3.js"></script>

<!--init echarts-->

<script type="text/javascript" src="/js/index/init-echarts.js"></script>



<!-- chart js -->

<script src="/js/index/Chart.bundle.js"></script>

<script src="/js/index/utils.js"></script>



<script src="/js/index/chart.js"></script>



<script type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>

<script src="/js/custom.js" type="text/javascript"></script>



</body>



</html>