<div class="container_full">

    

    <div class="side_bar bg_color scroll_auto">

    
        <% if(status.loggedin) {%>
            <div class="user-panel">
    
                <div class="user_image">
    
                    <img src="/img/about-1.jpg" class="img-circle mCS_img_loaded" alt="User Image">
    
                </div>
    
                <div class="info">
    
                    <p>
    
                        <%= user.first %> <%= user.last %>
    
                    </p>
    
                    <a href="#"> <i class="fa fa-circle text-success"></i> Online</a>
    
                </div>
    
            </div>
          <% } else {%>

            <div class="info">
    
                <p>

                    You are not logged in

                </p>

                <a href="/user/auth/login"> Login</a>

            </div>
          <% } %>
        

        <ul id="dc_accordion" class="sidebar-menu tree">
            <!--Services-->
            <li class="menu_sub">

                <a href="#"> <i class="icon-grid"></i> <span>Services</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="/services/manage">Manage Services</a>

                    </li>

                    <li>

                        <a href="/services/add">Add Services</a>

                    </li>

                </ul>

            </li>

            <!-- Users -->
            <li class="menu_sub">

                <a href="#"> <i class="fa fa-users" aria-hidden="true"></i><span>Users</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="/users/manage">Manage Users</a>

                    </li>

                </ul>

            </li>

            <!-- Sales -->
            <li class="menu_sub">

                <a href="#"> <i class="fa fa-bar-chart text-aqua" aria-hidden="true"></i><span>Sales</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="/sales/reports">Sales Reports</a>

                    </li>

                    <li>

                        <a href="/sales/marketing">Marketing</a>

                    </li>

                </ul>

            </li>
            
            <!-- Metrics -->
            <li class="menu_sub">

                <a href="#"> <i class="fa fa-pie-chart text-aqua" aria-hidden="true"></i><span>Metrics</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="/metrics/dashboard">Dashboard</a>

                    </li>

                </ul>

            </li>

            <!-- <li class="menu_sub">

                <a href="#"> <i class="fa fa-home"></i> <span>Dashboard</span> 

                <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="index.html">Dashboard 1</a>

                    </li>

                    <li>

                        <a href="index1.html">Dashboard 2</a>

                    </li>

                    

                    <li>

                        <a href="index-green.html">Dashboard Green</a>

                    </li>

<li>

                        <a href="index-light.html">Dashboard Light</a>

                    </li>

                    <li>

                        <a href="index-orange.html">Dashboard Orange</a>

                    </li>

                    <li>

                        <a href="index-purple.html">Dashboard Purple</a>

                    </li>

                    <li>

                        <a href="index-red.html">Dashboard Red</a>

                    </li>

                    

                    </ul>

            </li>

            

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-newspaper-o"></i> <span>UI Elements </span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="alert.html">Alerts</a>

                    </li>

                    <li>

                        <a href="buttons.html">Buttons</a>

                    </li>

                    <li>

                        <a href="cards.html">Cards</a>

                    </li>

                    <li>

                        <a href="dropdown.html">Dropdowns</a>

                    </li>

                    <li>

                        <a href="grid.html">Grids</a>

                    </li>

                    <li>

                        <a href="lists.html">Lists</a>

                    </li>

                    <li>

                        <a href="input-tags.html">Input Tags</a>

                    </li>

                    <li>

                        <a href="modal.html">Modals</a>

                    </li>

                    <li>

                        <a href="progress.html"> Progress</a>

                    </li>

                    <li>

                        <a href="popover-tooltips.html">Popover &amp; Tooltips</a>

                    </li>

                    <li>

                        <a href="typography.html">Typography</a>

                    </li>

                    <li>

                        <a href="tabs.html">Tabs</a>

                    </li>

                    <li>

                        <a href="tree.html">Tree</a>

                    </li>

                    <li>

                        <a href="toastr.html">Toastr Notification</a>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-pie-chart"></i> <span>Portlets</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="portlet-base.html">Portlets Base</a>

                    </li>

                    <li>

                        <a href="portlet-advanced.html">Portlets Advanced</a>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-laptop"></i> <span>Icons</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="icon-font-awesome.html">Fontawesome Icons</a>

                    </li>

                    <li>

                        <a href="icon-simple-line.html">Simple line Icons</a>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-table"></i> <span>Widgets </span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="widgets-base.html">Widgets Base</a>

                    </li>

                    <li>

                        <a href="widgets-chart.html">Widgets Chart</a>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-envelope-o"></i> <span>Email </span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="inbox.html">Inbox</a>

                    </li>

                    <li>

                        <a href="inbox-details.html">Email Read</a>

                    </li>

                    <li>

                        <a href="inbox-compose.html">Email Compose</a>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-calendar"></i> <span>Calendar </span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="calendar-basic.html">Basic Calendar</a>

                    </li>

                    <li>

                        <a href="calendar-external-events.html">External Events Calendar</a>

                    </li>

                    <li>

                        <a href="calendar-list.html">List Calendar</a>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-wpforms"></i> <span>Forms</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li class="menu_sub">

                        <a href="#">Form Control <span class="arrow"></span> </a>

                        <ul class="down_menu lavel3">

                            <li>

                                <a href="form-basic-input.html">Basic Input</a>

                            </li>

                            <li>

                                <a href="form-input-group.html">Input Group</a>

                            </li>

                            <li>

                                <a href="form-checkbox-radio.html">Checkbox & Radio</a>

                            </li>

                        </ul>

                    </li>

                    <li class="menu_sub">

                        <a href="#">Form Validation <span class="arrow"></span> </a>

                        <ul class="down_menu lavel3">

                            <li>

                                <a href="form-validation-basic.html">Basic Validation</a>

                            </li>

                            <li>

                                <a href="form-validation-jquery.html">jQuery Validation</a>

                            </li>

                            <li>

                                <a href="form-wizard.html">Form Wizard</a>

                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="icon-grid"></i> <span>Data Tables</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="table-basic.html">Basic Table</a>

                    </li>

                    <li class="menu_sub">

                        <a href="#">Data Tables <span class="arrow"></span> </a>

                        <ul class="down_menu">

                            <li>

                                <a href="table-datatable.html">Basic Datatable</a>

                            </li>

                            <li>

                                <a href="table-datatable-show-hide.html">Toggle Col Datatable</a>

                            </li>

                            <li>

                                <a href="table-datatable-ajax.html">Ajax Datatable</a>

                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-bar-chart text-aqua"></i> <span>Charts</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="flot-chart.html">Flot Charts</a>

                    </li>

                    <li>

                        <a href="echart.html">eCharts</a>

                    </li>

                    

                </ul>

            </li>

            <li class="menu_sub">

                <a href="#"> <i class="fa fa-file text-aqua"></i> <span>Extra Pages</span> <span class="arrow"></span> </a>

                <ul class="down_menu">

                    <li>

                        <a href="profile.html">User Profile</a>

                    </li>

                    <li>

                        <a href="page-login.html">Sign In</a>

                    </li>

                    <li>

                        <a href="page-register.html">Sign Up</a>

                    </li>

                    <li>

                        <a href="invoice.html">Invoice</a>

                    </li>

                    <li>

                        <a href="page_404.html">404</a>

                    </li>

                </ul>

            </li> -->

        </ul>

    </div>
