
<%- include('../../_partials/_head') %>
<body class="bg_darck">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
              <h1 class="error-number">404</h1>
            <h2 class="color_white">Sorry but we couldn't find this page</h2>
            <p class="color_white">This page you are looking for does not exist</p>
            <a href="/">Go Home</a>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>

<%- include('../../_partials/_foot') %>
		