
<%- include('../../_partials/_head') %>
<body class="bg_darck">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
              <h1 class="error-number">500</h1>
              <h2 class="color_white">Server Error</h2>
              <p class="color_white">There was a problem processing your request. Please Contact the <a href="mailto:zeke@ezekielj.me">Administrator</a> and provide the following stack trace</p>
              <p>Undefined</p>
              <a href="/">Go Home</a>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>

<%- include('../../_partials/_foot') %>
		